* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Font */
@font-face {
  font-family: "poppins";
  src: url(asset/font/poppins-regular-webfont.woff) format("woff");
}
@font-face {
  font-family: "poppins-medium";
  src: url(asset/font/poppins-medium-webfont.woff) format("woff");
}
@font-face {
  font-family: "poppins-semibold";
  src: url(asset/font/poppins-semibold-webfont.woff) format("woff");
}
@font-face {
  font-family: "poppins-extrabolditalic";
  src: url(asset/font/poppins-extrabolditalic-webfont.woff) format("woff");
}
body {
  font-family: "poppins";
  min-height: 2000px;
}
html {
  overflow-x: hidden;
}
nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: rgba(14, 151, 231, 0.767);
  align-items: center;
  padding: 0 20px;
  z-index: 99;
}
nav .logo {
  display: flex;
  align-items: center;
  width: 10%;
  justify-content: space-evenly;
}
nav .logo img {
  width: 30px;
  height: 40px;
}
nav .logo h1 {
  font-family: "poppins-semibold";
  color: #fe3636;
}
nav .navbar-nav {
  display: flex;
  width: 40%;
  justify-content: space-between;
  list-style: none;
  letter-spacing: 0.5px;
}
nav .navbar-nav * {
  box-sizing: border-box;
  transition: all 0.35s ease;
}

nav .navbar-nav li a {
  text-decoration: none;
  font-family: "poppins-medium";
  text-transform: capitalize;
  color: #fe3636;
  position: relative;
  padding: 0.5rem 0.8rem;
}
nav .navbar-nav li a::after,
nav .navbar-nav li a::before {
  position: absolute;
  height: 15px;
  width: 15px;
  content: "";
  transition: all 0.35s ease;
  opacity: 0;
}
nav .navbar-nav li a::before {
  right: 0;
  top: 0;
  border-right: 3px solid rgb(255, 0, 191);
  border-top: 3px solid rgb(255, 0, 191);
  transform: translate(-100%, 50%);
}
nav .navbar-nav li a::after {
  left: 0;
  bottom: 0;
  border-left: 3px solid rgb(255, 0, 191);
  border-bottom: 3px solid rgb(255, 0, 191);
  transform: translate(100%, -50%);
}
nav .navbar-nav li a:hover {
  color: rgb(255, 0, 191);
}
nav .navbar-nav li a:hover::after,
nav .navbar-nav li a:hover::before {
  transform: translate(0%, 0%);
  opacity: 1;
}
nav .icon-bar .menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  position: relative;
}
nav .icon-bar .menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -5px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}
nav .icon-bar .menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: #fe3636;
  border-radius: 3px;
  transition: all 0.5s;
}
/* Animasi */
nav .icon-bar .menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
nav .icon-bar .menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}
nav .icon-bar .menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}
nav .icon-bar .menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0px);
}
nav .icon-bar .menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
  opacity: 0;
}
main {
  position: relative;
}
main .bg {
  width: 100%;
  height: 100vh;
}
main .content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 25%;
}
main .text {
  width: 30%;
  line-height: 1.2;
}
main .text h2 {
  font-size: 30px;
  font-family: "poppins-extrabolditalic";
}
main .text h2 span {
  color: #fe3636;
}
main .text p {
  font-size: 15px;
  font-family: "poppins-medium";
  line-height: 1.5;
}
main .text button {
  position: relative;
  margin-top: 30px;
  font-size: 1.2em;
  padding: 0.7em 1.4em;
  background-color: #fe3636;
  text-decoration: none;
  border: none;
  border-radius: 0.5em;
  color: #dedede;
  box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
}
main .text button::before {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  background: linear-gradient(
    135deg,
    rgb(240, 248, 254) 0%,
    rgb(240, 248, 254) 50%,
    #fe3636 50%,
    #ad0d0d 60%
  );
  border-radius: 0 0 0.5em 0;
  box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}
main .text button:hover::before {
  width: 1.6em;
  height: 1.6em;
}
main .text button:active {
  box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
  transform: translate(0.1em, 0.1em);
}
main .logo2 img {
  width: 300px;
}
/* Responsive */
@media (max-width: 576px) {
  nav .logo {
    padding-left: 12.6%;
  }
  nav .logo img {
    margin-right: 5px;
  }
  nav .icon-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
  }
  nav .icon-bar .menu-toggle {
    display: flex;
  }
  nav .navbar-nav {
    position: absolute;
    flex-direction: column;
    right: 0;
    width: 50%;
    top: 0;
    background-color: rgba(14, 151, 231, 0.993);
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    z-index: -1;

    transform: translateX(100%);
    transition: all 1s;
    opacity: 0;
  }
  nav .navbar-nav.slide {
    opacity: 1;
    transform: translateX(0);
  }

  main {
    background-image: url(asset/img/member\ 1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  main .content {
    display: flex;
    justify-content: flex-start;
    padding: 10%;
  }
  main .logo2 img {
    display: none;
  }
  main .text {
    width: 85%;
  }
}
